<app-page-title title="Profile" [breadCrumbItems]="breadCrumbItems" />
<div class="row">
  <div class="col-lg-4 col-xl-4">
    <profile-user-box />

    <profile-skills />
  </div>
  <!-- end col-->

  <div class="col-lg-8 col-xl-8">
    <div class="card">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" class="nav nav-pills navtab-bg">
          <li ngbNavItem class="nav-item">
            <a ngbNavLink class="nav-link ms-0">
              <i class="mdi mdi-face-profile me-1"></i>About Me
            </a>
            <ng-template ngbNavContent>
              <profile-about />
            </ng-template>
          </li>
          <li ngbNavItem class="nav-item">
            <a ngbNavLink class="nav-link">
              <i class="mdi mdi-cog me-1"></i>Settings
            </a>
            <ng-template ngbNavContent>
              <profile-setting />
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="tab-content"></div>
      </div>
    </div>
    <!-- end card-->
  </div>
</div>
