{% extends 'layouts/horizontal.html.twig' %}

{% block title %}
  Starter
{% endblock %}

{% block css %}
{% endblock %}

{% block pagetitle %}
  {{ include('partials/page-title2.html.twig', { sub_title: 'Pages', page_title: 'Starter' }) }}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-12"></div>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}
