<custom-card-portlet
  cardTitle="Simple Bubble Chart"
  cardTitleClass="header-title mb-0"
>
  <div
    id="apex-bubble-1"
    class="apex-charts"
    data-colors="#3bafda,#1abc9c,#f672a7"
  >
    <apx-chart
      [chart]="apexbubble1Chart.chart!"
      [dataLabels]="apexbubble1Chart.dataLabels!"
      [series]="apexbubble1Chart.series!"
      [fill]="apexbubble1Chart.fill!"
      [colors]="apexbubble1Chart.colors!"
      [xaxis]="apexbubble1Chart.xaxis!"
      [yaxis]="apexbubble1Chart.yaxis!"
      [grid]="apexbubble1Chart.grid!"
      [legend]="apexbubble1Chart.legend!"
    />
  </div>
</custom-card-portlet>
