
@{
    ViewBag.Title = "Remix Icons";
    ViewBag.SubTitle = "Icons";
}

@section styles
{

}

@await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle2.cshtml")

<div class="row">
    <div class="col-12" id="icons">

    </div> <!-- end col-->
</div> <!-- end row-->

@section scripts
{
    <script src="~/js/pages/remix-icons.init.js"></script>
}