<div class="card">
  <div class="card-body">
    <div ngbDropdown class="dropdown float-end">
      <a ngbDropdownToggle class="dropdown-toggle arrow-none card-drop">
        <i class="mdi mdi-dots-horizontal"></i>
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">Settings</a>
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">Download</a>
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">Upload</a>
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">Action</a>
      </div>
    </div>

    <h4 class="header-title">Products Sales</h4>

    <div class="mt-3 text-center">
      <div class="row pt-2">
        <div class="col-4">
          <p class="text-muted font-15 mb-1 text-truncate">Target</p>
          <h4>{{ currency }}56,214</h4>
        </div>
        <div class="col-4">
          <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
          <h4><i class="fe-arrow-up text-success"></i> {{ currency }}840</h4>
        </div>
        <div class="col-4">
          <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
          <h4><i class="fe-arrow-down text-danger"></i> {{ currency }}7,845</h4>
        </div>
      </div>
      <div dir="ltr">
        <div
          id="products-sales"
          class="apex-charts"
          data-colors="#3bafda,#1abc9c"
        >
          <apx-chart
            [chart]="productSaleChart.chart!"
            [series]="productSaleChart.series!"
            [stroke]="productSaleChart.stroke!"
            [plotOptions]="productSaleChart.plotOptions!"
            [colors]="productSaleChart.colors!"
            [fill]="productSaleChart.fill!"
            [labels]="productSaleChart.labels!"
            [markers]="productSaleChart.markers!"
            [legend]="productSaleChart.legend!"
            [xaxis]="productSaleChart.xaxis!"
            [yaxis]="productSaleChart.yaxis!"
            [tooltip]="productSaleChart.tooltip!"
            [grid]="productSaleChart.grid!"
          />
        </div>
      </div>
    </div>
  </div>
</div>
