<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="widget-bg-color-icon card">
      <div class="card-body">
        <div class="d-flex align-items-start">
          <div class="avatar-lg rounded-circle bg-icon-success">
            <i class="mdi mdi-android-studio font-24 avatar-title"></i>
          </div>
          <div class="flex-1 text-end align-self-center">
            <h3 class="mt-0"><span data-plugin="counterup">64,570</span></h3>
            <p class="text-muted mb-0">Today's Visits</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="widget-bg-color-icon card">
      <div class="card-body">
        <div class="d-flex align-items-start">
          <div class="avatar-lg rounded-circle bg-icon-primary">
            <i class="mdi mdi-amazon font-24 avatar-title"></i>
          </div>
          <div class="flex-1 text-end align-self-center">
            <h3 class="mt-0"><span data-plugin="counterup">31,570</span></h3>
            <p class="text-muted mb-0">Total Revenue</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="widget-bg-color-icon card">
      <div class="card-body">
        <div class="d-flex align-items-start">
          <div class="avatar-lg rounded-circle bg-icon-danger">
            <i class="mdi mdi-apple font-24 avatar-title"></i>
          </div>
          <div class="flex-1 text-end align-self-center">
            <h3 class="mt-0"><span data-plugin="counterup">280</span></h3>
            <p class="text-muted mb-0">Today's Sales</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="widget-bg-color-icon card">
      <div class="card-body">
        <div class="d-flex align-items-start">
          <div class="avatar-lg rounded-circle bg-icon-purple">
            <i class="mdi mdi-barley font-24 avatar-title"></i>
          </div>
          <div class="flex-1 text-end align-self-center">
            <h3 class="mt-0"><span data-plugin="counterup">0.16</span>%</h3>
            <p class="text-muted mb-0">Conversion</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="widget-bg-color-icon card">
      <div class="card-body">
        <div class="d-flex align-items-start">
          <div class="avatar-lg rounded-circle bg-icon-info">
            <i class="mdi mdi-black-mesa font-24 avatar-title"></i>
          </div>
          <div class="flex-1 text-end align-self-center">
            <h3 class="mt-0"><span data-plugin="counterup">23,570</span></h3>
            <p class="text-muted mb-0">Today's Visits</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="widget-bg-color-icon card">
      <div class="card-body">
        <div class="d-flex align-items-start">
          <div class="avatar-lg rounded-circle bg-icon-warning">
            <i class="mdi mdi-bullseye font-24 avatar-title"></i>
          </div>
          <div class="flex-1 text-end align-self-center">
            <h3 class="mt-0"><span data-plugin="counterup">9,654</span></h3>
            <p class="text-muted mb-0">Total Revenue</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="widget-bg-color-icon card">
      <div class="card-body">
        <div class="d-flex align-items-start">
          <div class="avatar-lg rounded-circle bg-icon-dark">
            <i class="mdi mdi-cart font-24 avatar-title"></i>
          </div>
          <div class="flex-1 text-end align-self-center">
            <h3 class="mt-0"><span data-plugin="counterup">965</span></h3>
            <p class="text-muted mb-0">Today's Sales</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">
    <div class="widget-bg-color-icon card">
      <div class="card-body">
        <div class="d-flex align-items-start">
          <div class="avatar-lg rounded-circle bg-icon-pink">
            <i class="mdi mdi-clock font-24 avatar-title"></i>
          </div>
          <div class="flex-1 text-end align-self-center">
            <h3 class="mt-0"><span data-plugin="counterup">0.65</span>%</h3>
            <p class="text-muted mb-0">Conversion</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
