<custom-card-portlet
  cardTitle="Line, Column & Area Chart"
  cardTitleClass="header-title mb-0"
>
  <div
    id="apex-mixed-2"
    class="apex-charts"
    data-colors="#3bafda,#1abc9c,#f672a7"
  >
    <apx-chart
      [chart]="apexmixed2Chart.chart!"
      [stroke]="apexmixed2Chart.stroke!"
      [plotOptions]="apexmixed2Chart.plotOptions!"
      [colors]="apexmixed2Chart.colors!"
      [series]="apexmixed2Chart.series!"
      [fill]="apexmixed2Chart.fill!"
      [labels]="apexmixed2Chart.labels!"
      [markers]="apexmixed2Chart.markers!"
      [legend]="apexmixed2Chart.legend!"
      [xaxis]="apexmixed2Chart.xaxis!"
      [yaxis]="apexmixed2Chart.yaxis!"
      [tooltip]="apexmixed2Chart.tooltip!"
      [grid]="apexmixed2Chart.grid!"
    />
  </div>
</custom-card-portlet>
