<custom-card-portlet
  cardTitle="Basic Bar Chart"
  cardTitleClass="header-title mb-0"
>
  <div id="apex-bar-1" class="apex-charts" data-colors="#1abc9c">
    <apx-chart
      [chart]="apexbar1Chart.chart!"
      [plotOptions]="apexbar1Chart.plotOptions!"
      [dataLabels]="apexbar1Chart.dataLabels!"
      [series]="apexbar1Chart.series!"
      [colors]="apexbar1Chart.colors!"
      [xaxis]="apexbar1Chart.xaxis!"
      [states]="apexbar1Chart.states!"
      [grid]="apexbar1Chart.grid!"
    />
  </div>
</custom-card-portlet>
