<!DOCTYPE html>

@{
    var html_attributes = ViewBag.HTMLAttributes != null ? ViewBag.HTMLAttributes : "";
}

<html lang="en" @html_attributes>

<head>
    @await Html.PartialAsync("~/Pages/Shared/Partials/_TitleMeta.cshtml")
    @RenderSection("styles", false)
    @await Html.PartialAsync("~/Pages/Shared/Partials/_HeadCSS.cshtml")
</head>


<body>

    <div id="wrapper">

        @await Html.PartialAsync("~/Pages/Shared/Partials/_TopBar.cshtml")
        @await Html.PartialAsync("~/Pages/Shared/Partials/_LeftSideBar.cshtml")

        <div class="content-page">
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()

                </div>
            </div>

            @await Html.PartialAsync("~/Pages/Shared/Partials/_Footer.cshtml")

        </div>

    </div>

    @await Html.PartialAsync("~/Pages/Shared/Partials/_RightSideBar.cshtml")
    
    <script src="~/js/vendors.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/js/app.js"></script>
    <script src="~/js/layout.js"></script>
    
</body>

</html>