<custom-card-portlet
  cardTitle="Multiple Y-Axis Chart"
  cardTitleClass="header-title mb-0"
>
  <div
    id="apex-mixed-3"
    class="apex-charts"
    data-colors="#3bafda,#ebf2f6,#f672a7"
  >
    <apx-chart
      [chart]="apexmixed3Chart.chart!"
      [stroke]="apexmixed3Chart.stroke!"
      [dataLabels]="apexmixed3Chart.dataLabels!"
      [series]="apexmixed3Chart.series!"
      [colors]="apexmixed3Chart.colors!"
      [xaxis]="apexmixed3Chart.xaxis!"
      [yaxis]="apexmixed3Chart.yaxis!"
      [tooltip]="apexmixed3Chart.tooltip!"
      [grid]="apexmixed3Chart.grid!"
      [legend]="apexmixed3Chart.legend!"
      [responsive]="apexmixed3Chart.responsive!"
    />
  </div>
</custom-card-portlet>
