<div class="card">
  <div class="card-body">
    <div class="float-end">
      <select class="form-select form-select-sm">
        <option selected="">Recent</option>
        <option value="1">Most Helpful</option>
        <option value="2">High to Low</option>
        <option value="3">Low to High</option>
      </select>
    </div>
    <!-- end dropdown-->

    <h4 class="mb-4 mt-0 font-16">Comments (51)</h4>

    <div class="clerfix"></div>

    <div class="d-flex">
      <img
        class="me-2 rounded-circle"
        src="assets/images/users/avatar-3.jpg"
        alt="Generic placeholder image"
        height="32"
      />
      <div class="flex-1">
        <h5 class="mt-0">
          Barry Gould
          <small class="text-muted fw-normal float-end">5 hours ago</small>
        </h5>
        Nice work, makes me think of The Money Pit.

        <br />
        <a
          href="javascript: void(0);"
          class="text-muted font-13 d-inline-block mt-2"
          ><i class="mdi mdi-reply"></i> Reply</a
        >

        <div class="d-flex align-items-start mt-3">
          <a class="pe-2" href="javascript:void(0);">
            <img
              src="assets/images/users/avatar-4.jpg"
              class="rounded-circle"
              alt="Generic placeholder image"
              height="32"
            />
          </a>
          <div class="flex-1">
            <h5 class="mt-0">
              Louis Hill
              <small class="text-muted fw-normal float-end">3 hours ago</small>
            </h5>
            i'm in the middle of a timelapse animation myself! (Very different
            though.) Awesome stuff.

            <br />
            <a
              href="javascript: void(0);"
              class="text-muted font-13 d-inline-block mt-2"
            >
              <i class="mdi mdi-reply"></i> Reply
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-start mt-3">
      <img
        class="me-2 rounded-circle"
        src="assets/images/users/avatar-5.jpg"
        alt="Generic placeholder image"
        height="32"
      />
      <div class="flex-1">
        <h5 class="mt-0">
          Aaron Wilson
          <small class="text-muted fw-normal float-end">1 day ago</small>
        </h5>
        It would be very nice to have.

        <br />
        <a
          href="javascript: void(0);"
          class="text-muted font-13 d-inline-block mt-2"
          ><i class="mdi mdi-reply"></i> Reply</a
        >
      </div>
    </div>

    <div class="text-center mt-2">
      <a href="javascript:void(0);" class="text-danger"
        ><i class="mdi mdi-spin mdi-loading me-1"></i> Load more
      </a>
    </div>

    <div class="border rounded mt-4">
      <form action="#" class="comment-area-box">
        <textarea
          rows="3"
          class="form-control border-0 resize-none"
          placeholder="Your comment..."
        ></textarea>
        <div
          class="p-2 bg-light d-flex justify-content-between align-items-center"
        >
          <div>
            <a href="javascript:void(0);" class="btn btn-sm px-1 btn-light"
              ><i class="mdi mdi-upload"></i
            ></a>
            <a href="javascript:void(0);" class="btn btn-sm px-1 btn-light"
              ><i class="mdi mdi-at"></i
            ></a>
          </div>
          <button type="submit" class="btn btn-sm btn-success">
            <i class="fe-send me-1"></i>Submit
          </button>
        </div>
      </form>
    </div>
    <!-- end .border-->
  </div>
  <!-- end card-body-->
</div>
