<app-page-title title="Checkout" [breadCrumbItems]="breadCrumbItems" />

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-8">
            <div
              id="checkout-nav-pills-wizard"
              class="twitter-bs-wizard form-wizard-header"
            >
              <ul
                ngbNav
                #nav="ngbNav"
                class="twitter-bs-wizard-nav mb-2 nav-pills nav-justified"
              >
                <li [ngbNavItem]="1" class="nav-item">
                  <a ngbNavLink class="nav-link">
                    <span class="number">01</span>
                    <span class="d-none d-sm-inline">Billing Info</span>
                  </a>
                  <ng-template ngbNavContent>
                    <checkout-billing-info />
                    <ul class="pager wizard list-inline mt-2">
                      <li class="list-inline-item">
                        <a
                          routerLink="/ecommerce/cart"
                          class="btn btn-secondary"
                          ><i class="mdi mdi-arrow-left"></i> Back to Shopping
                          Cart
                        </a>
                      </li>
                      <li class="next list-inline-item float-end">
                        <button
                          type="button"
                          class="btn btn-success"
                          (click)="nav.select(2)"
                        >
                          <i class="mdi mdi-truck-fast me-1"></i> Proceed to
                          Shipping
                        </button>
                      </li>
                    </ul>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2" class="nav-item">
                  <a ngbNavLink class="nav-link">
                    <span class="number">02</span>
                    <span class="d-none d-sm-inline">Shipping Info</span>
                  </a>
                  <ng-template ngbNavContent>
                    <checkout-shipping-info />
                    <ul class="pager wizard list-inline mt-3">
                      <li class="previous list-inline-item">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          (click)="nav.select(1)"
                        >
                          <i class="mdi mdi-arrow-left me-1"></i> Back to
                          Billing
                        </button>
                      </li>
                      <li class="next list-inline-item float-end">
                        <button
                          type="button"
                          class="btn btn-success"
                          (click)="nav.select(3)"
                        >
                          <i class="mdi mdi-cash-multiple me-1"></i> Continue to
                          Payment
                        </button>
                      </li>
                    </ul>
                  </ng-template>
                </li>

                <li [ngbNavItem]="3" class="nav-item">
                  <a ngbNavLink class="nav-link">
                    <span class="number">03</span>
                    <span class="d-none d-sm-inline">Payment Info</span>
                  </a>
                  <ng-template ngbNavContent>
                    <checkout-payment-info />
                    <ul class="pager wizard list-inline mt-3">
                      <li class="list-inline-item">
                        <a
                          routerLink="/ecommerce/cart"
                          class="btn btn-secondary"
                        >
                          <i class="mdi mdi-arrow-left"></i> Back to Shopping
                          Cart
                        </a>
                      </li>
                      <li class="list-inline-item float-end">
                        <button type="submit" class="btn btn-success">
                          <i class="mdi mdi-cash-multiple me-1"></i> Complete
                          Order
                        </button>
                      </li>
                    </ul>
                  </ng-template>
                </li>
              </ul>

              <div
                [ngbNavOutlet]="nav"
                class="tab-content twitter-bs-wizard-tab-content"
              ></div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card mt-4 mt-xl-0">
              <div class="card-body">
                <h4 class="header-title mb-3">Order Summary</h4>

                <div class="table-responsive">
                  <table class="table table-centered table-nowrap mb-0">
                    <tbody>
                      @for (product of items; track $index) {
                        <tr>
                          <td style="width: 80px">
                            <img
                              [src]="product.image"
                              alt="product-img"
                              title="product-img"
                              class="rounded"
                              height="48"
                            />
                          </td>
                          <td>
                            <a
                              routerLink="/ecommerce/product-detail"
                              class="text-body fw-semibold"
                              >{{ product.name }}</a
                            >
                            <small class="d-block"
                              >{{ product.qty }} x $ {{ product.price }}</small
                            >
                          </td>

                          <td class="text-end">$ {{ product.total }}</td>
                        </tr>
                      }
                      <tr class="text-end">
                        <td colspan="2">
                          <h6 class="m-0">Sub Total:</h6>
                        </td>
                        <td class="text-end">$ 176</td>
                      </tr>
                      <tr class="text-end">
                        <td colspan="2">
                          <h6 class="m-0">Shipping:</h6>
                        </td>
                        <td class="text-end">FREE</td>
                      </tr>
                      <tr class="text-end">
                        <td colspan="2">
                          <h5 class="m-0">Total:</h5>
                        </td>
                        <td class="text-end fw-semibold">$ 176</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
