<div>
  <h4 class="header-title">Billing Information</h4>
  <p class="sub-header">
    Fill the form below in order to send you the order's invoice.
  </p>

  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="billing-first-name" class="form-label">First Name</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter your first name"
            id="billing-first-name"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="billing-last-name" class="form-label">Last Name</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter your last name"
            id="billing-last-name"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="billing-email-address" class="form-label"
            >Email Address <span class="text-danger">*</span></label
          >
          <input
            class="form-control"
            type="email"
            placeholder="Enter your email"
            id="billing-email-address"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="billing-phone" class="form-label"
            >Phone <span class="text-danger">*</span></label
          >
          <input
            class="form-control"
            type="text"
            placeholder="(xx) xxx xxxx xxx"
            id="billing-phone"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="billing-address" class="form-label">Address</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter full address"
            id="billing-address"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="billing-town-city" class="form-label">Town / City</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter your city name"
            id="billing-town-city"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="billing-state" class="form-label">State</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter your state"
            id="billing-state"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="billing-zip-postal" class="form-label">Zip Code</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter your zip code"
            id="billing-zip-postal"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label class="form-label">Country</label>
          <select2 [data]="countryList" resettable="false"> </select2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="shipdifferent-check"
            />
            <label class="form-check-label" for="shipdifferent-check"
              >Ship to different address ?</label
            >
          </div>
        </div>

        <div class="mb-3 mt-3">
          <label for="example-textarea" class="form-label">Order Notes:</label>
          <textarea
            class="form-control"
            id="example-textarea"
            rows="3"
            placeholder="Write some note.."
          ></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
