<div class="align-items-center justify-content-between row">
  <div class="col-sm">
    <div class="dataTables_info" id="products-datatable_info">
      Showing {{ tableService.startIndex + 1 }} to
      {{ tableService.endIndex }} of {{ (total | async)! }}
    </div>
  </div>
  <div class="col-sm-auto mt-3 mt-sm-0">
    <div
      class="dataTables_paginate paging_simple_numbers"
      id="products-datatable_paginate"
    >
      <ngb-pagination
        [collectionSize]="(total | async)!"
        [(page)]="tableService.page"
        [pageSize]="tableService.pageSize"
        class="pagination pagination-rounded paginate_button"
      >
        <ng-template ngbPaginationPrevious
          ><i class="mdi mdi-chevron-left"></i
        ></ng-template>
        <ng-template ngbPaginationNext
          ><i class="mdi mdi-chevron-right"></i
        ></ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>
