<app-page-title title="Portlets" [breadCrumbItems]="breadCrumbItems" />

<div class="row">
  <div class="col-lg-4">
    <custom-card-portlet cardTitle="Card title" cardTitleClass="card-title">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
      dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
      moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
      assumenda shoreditch et.
    </custom-card-portlet>
  </div>

  <div class="col-lg-4">
    <custom-card-portlet
      cardTitle="Card title"
      cardClass="bg-primary text-white"
      cardTitleClass="card-title text-white"
    >
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
      dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
      moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
      assumenda shoreditch et.
    </custom-card-portlet>
  </div>

  <div class="col-lg-4">
    <custom-card-portlet
      cardTitle="Card title"
      cardClass="bg-success text-white"
      cardTitleClass="card-title text-white"
    >
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
      dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
      moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
      assumenda shoreditch et.
    </custom-card-portlet>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <custom-card-portlet
      cardTitle="Card title"
      headerClass="card-header bg-danger py-3 text-white"
      cardTitleClass="card-title text-white"
    >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et.
      </div>
    </custom-card-portlet>
  </div>

  <div class="col-lg-4">
    <custom-card-portlet
      cardTitle="Card title"
      headerClass="card-header bg-purple py-3 text-white"
      cardTitleClass="card-title text-white"
    >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et.
      </div>
    </custom-card-portlet>
  </div>

  <div class="col-lg-4">
    <custom-card-portlet
      cardTitle="Card title"
      headerClass="card-header bg-warning py-3 text-white"
      cardTitleClass="card-title text-white"
    >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et.
      </div>
    </custom-card-portlet>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <custom-card-portlet
      cardTitle="Card title"
      headerClass="card-header bg-info py-3 text-white"
      cardTitleClass="card-title text-white"
    >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et.
      </div>
    </custom-card-portlet>
  </div>

  <div class="col-lg-4">
    <custom-card-portlet
      cardTitle="Card title"
      headerClass="card-header bg-dark py-3 text-white"
      cardTitleClass="card-title text-white"
    >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et.
      </div>
    </custom-card-portlet>
  </div>

  <div class="col-lg-4">
    <custom-card-portlet
      cardTitle="Card title"
      headerClass="card-header bg-pink py-3 text-white"
      cardTitleClass="card-title text-white"
    >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et.
      </div>
    </custom-card-portlet>
  </div>
</div>
