<custom-card-portlet
  cardTitle="Scatter Chart - Datetime"
  cardTitleClass="header-title mb-0"
>
  <div
    id="apex-scatter-2"
    class="apex-charts"
    data-colors="#3bafda,#1abc9c,#f672a7,#6c757d,#6559cc"
  >
    <apx-chart
      [chart]="apexscatter2Chart.chart!"
      [series]="apexscatter2Chart.series!"
      [dataLabels]="apexscatter2Chart.dataLabels!"
      [colors]="apexscatter2Chart.colors!"
      [grid]="apexscatter2Chart.grid!"
      [legend]="apexscatter2Chart.legend!"
      [xaxis]="apexscatter2Chart.xaxis!"
      [yaxis]="apexscatter2Chart.yaxis!"
      [responsive]="apexscatter2Chart.responsive!"
    />
  </div>
</custom-card-portlet>
