<custom-card-portlet
  cardTitle="Mixed Chart - Line & Area"
  cardTitleClass="header-title mb-0"
>
  <div id="apex-mixed-1" class="apex-charts" data-colors="#CED4DC,#3bafda">
    <apx-chart
      [chart]="apexmixed1Chart.chart!"
      [stroke]="apexmixed1Chart.stroke!"
      [series]="apexmixed1Chart.series!"
      [colors]="apexmixed1Chart.colors!"
      [fill]="apexmixed1Chart.fill!"
      [labels]="apexmixed1Chart.labels!"
      [markers]="apexmixed1Chart.markers!"
      [yaxis]="apexmixed1Chart.yaxis!"
      [tooltip]="apexmixed1Chart.tooltip!"
      [legend]="apexmixed1Chart.legend!"
    />
  </div>
</custom-card-portlet>
