<custom-card-portlet
  cardTitle="Patterned Donut Chart"
  cardTitleClass="header-title mb-0"
>
  <div
    id="apex-pie-3"
    class="apex-charts"
    data-colors="#3bafda,#1abc9c,#f7b84b,#6559cc,#f672a7"
  >
    <apx-chart
      [chart]="apexpie3Chart.chart!"
      [series]="apexpie3Chart.series!"
      [stroke]="apexpie3Chart.stroke!"
      [colors]="apexpie3Chart.colors!"
      [labels]="apexpie3Chart.labels!"
      [dataLabels]="apexpie3Chart.dataLabels!"
      [fill]="apexpie3Chart.fill!"
      [states]="apexpie3Chart.states!"
      [legend]="apexpie3Chart.legend!"
      [responsive]="apexpie3Chart.responsive!"
    />
  </div>
</custom-card-portlet>
