<app-page-title title="Carousel" [breadCrumbItems]="breadCrumbItems" />

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Slides only</h4>
        <p class="sub-header">
          Here’s a carousel with slides only. Note the presence of the
          <code>.d-block</code> and <code>.img-fluid</code> on carousel images
          to prevent browser default image alignment.
        </p>

        <div
          id="carouselExampleSlidesOnly"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <ngb-carousel
            [showNavigationIndicators]="false"
            [showNavigationArrows]="false"
            class="carousel-inner"
            role="listbox"
          >
            <ng-template ngbSlide class="carousel-item active">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-1.jpg"
                alt="First slide"
              />
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-2.jpg"
                alt="Second slide"
              />
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-3.jpg"
                alt="Third slide"
              />
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">With controls</h4>
        <p class="sub-header">Adding in the previous and next controls:</p>

        <!-- START carousel-->
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <ngb-carousel
            [showNavigationIndicators]="false"
            class="carousel-inner"
            role="listbox"
          >
            <ng-template ngbSlide class="carousel-item active">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-4.jpg"
                alt="First slide"
              />
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-1.jpg"
                alt="Second slide"
              />
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-2.jpg"
                alt="Third slide"
              />
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
    <!-- END carousel-->
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">With indicators</h4>
        <p class="sub-header">
          You can also add the indicators to the carousel, alongside the
          controls, too.
        </p>

        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <ngb-carousel class="carousel-inner" role="listbox">
            <ng-template ngbSlide class="carousel-item active">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-3.jpg"
                alt="First slide"
              />
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-2.jpg"
                alt="Second slide"
              />
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-1.jpg"
                alt="Third slide"
              />
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">With captions</h4>
        <p class="sub-header">
          Add captions to your slides easily with the
          <code>.carousel-caption</code> element within any
          <code>.carousel-item</code>.
        </p>

        <div
          id="carouselExampleCaptions"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <ngb-carousel class="carousel-inner">
            <ng-template ngbSlide class="carousel-item active">
              <img
                src="assets/images/small/img-1.jpg"
                alt="..."
                class="d-block img-fluid"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>
                  Nulla vitae elit libero, a pharetra augue mollis interdum.
                </p>
              </div>
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img
                src="assets/images/small/img-3.jpg"
                alt="..."
                class="d-block img-fluid"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img
                src="assets/images/small/img-2.jpg"
                alt="..."
                class="d-block img-fluid"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>
                  Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur.
                </p>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Crossfade</h4>
        <p class="sub-header">
          Add <code>[animation]="true"</code> to your carousel to animate slides
          with a fade transition instead of a slide.
        </p>

        <div
          id="carouselExampleFade"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
        >
          <ngb-carousel
            [animation]="true"
            [showNavigationIndicators]="false"
            class="carousel-inner"
          >
            <ng-template ngbSlide class="carousel-item active">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-1.jpg"
                alt="First slide"
              />
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-2.jpg"
                alt="Second slide"
              />
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-3.jpg"
                alt="Third slide"
              />
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Individual carousel-item interval</h4>
        <p class="sub-header">
          Add <code>[interval]="10000"</code> to a
          <code>.carousel-item</code> to change the amount of time to delay
          between automatically cycling to the next item.
        </p>

        <div
          id="carouselExampleInterval"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <ngb-carousel
            [showNavigationIndicators]="false"
            [interval]="10000"
            class="carousel-inner"
          >
            <ng-template
              ngbSlide
              class="carousel-item active"
              data-bs-interval="10000"
            >
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-3.jpg"
                alt="Third slide"
              />
            </ng-template>
            <ng-template ngbSlide class="carousel-item" data-bs-interval="2000">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-5.jpg"
                alt="Third slide"
              />
            </ng-template>
            <ng-template ngbSlide class="carousel-item">
              <img
                class="d-block img-fluid"
                src="assets/images/small/img-1.jpg"
                alt="Third slide"
              />
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
