{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" {% block html_attribute %}{% endblock %}>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{% block title %}{% endblock title %} | Minton - Responsive Admin Dashboard & Landing Page Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Fully responsive web application ui kit" />
  <meta name="author" content="coderthemes" />
  <link rel="icon" href="{% static 'images/favicon.ico' %}" />

  {% block css %}

  {% block extra_css %}{% endblock %}

  {% block css_wrapper %}
  {% include "partials/head-css.html" %}
  {% endblock css_wrapper %}

  <!-- icons -->
  <link href="{% static '/css/icons.min.css' %}" rel="stylesheet" type="text/css" />

  {% endblock css %}

  <script src="{% static 'js/config.js' %}"></script>
</head>

<body {% block body_extra %}{% endblock %}>

  {% block page_content %}{% endblock %}
</body>

{% block javascript %}

<!-- Vendor js -->
<script src="{% static 'js/vendors.min.js' %}"></script>

{% block extra_javascript %}{% endblock %}



<script src="{% static 'js/layout.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}

{% block extra_javascript_bottom %}{% endblock %}

</html>
