<custom-card-portlet
  cardTitle="Line with Data Labels"
  cardTitleClass="header-title mb-0"
>
  <div id="apex-line-1" class="apex-charts" data-colors="#3bafda,#1abc9c">
    <apx-chart
      [chart]="apexline1Chart.chart!"
      [colors]="apexline1Chart.colors!"
      [dataLabels]="apexline1Chart.dataLabels!"
      [stroke]="apexline1Chart.stroke!"
      [series]="apexline1Chart.series!"
      [title]="apexline1Chart.title!"
      [grid]="apexline1Chart.grid!"
      [markers]="apexline1Chart.markers!"
      [xaxis]="apexline1Chart.xaxis!"
      [yaxis]="apexline1Chart.yaxis!"
      [legend]="apexline1Chart.legend!"
      [responsive]="apexline1Chart.responsive!"
    />
  </div>
</custom-card-portlet>
