<ngb-alert type="info" class="mb-3">
  Property MN7xx is not receiving hits. Either your site is not receiving any
  sessions.
</ngb-alert>
<div class="card">
  <div class="card-body" id="tooltip-container">
    <i
      class="fa fa-info-circle text-muted float-end"
      data-bs-container="#tooltip-container"
      placement="bottom"
      ngbTooltip="More Info"
    ></i>
    <h4 class="m-0 font-16">Active Users</h4>
    <h2 class="my-3 text-center" id="active-users-count">121</h2>
    <p class="text-muted m-0">
      Since last month: 22506
      <span class="float-end"
        ><i class="mdi mdi-arrow-up-bold me-1 text-success"></i>10.25%</span
      >
    </p>
  </div>
  <!-- end card-body-->
</div>
<!--end card-->

<div class="card">
  <div class="card-body" id="tooltip-container1">
    <i
      class="fa fa-info-circle text-muted float-end"
      data-bs-container="#tooltip-container1"
      placement="bottom"
      ngbTooltip="More Info"
    ></i>
    <h4 class="m-0 font-16">Views Per Minute</h4>
    <h2 class="my-3 text-center" id="active-views-count">485</h2>
    <p class="text-muted m-0">
      Since previous week: 8541
      <span class="float-end"
        ><i class="mdi mdi-arrow-down-bold me-1 text-danger"></i>2.63%</span
      >
    </p>
  </div>
  <!-- end card-body-->
</div>
