<custom-card-portlet
  cardTitle="3D Bubble Chart"
  cardTitleClass="header-title mb-0"
>
  <div
    id="apex-bubble-2"
    class="apex-charts"
    data-colors="#3bafda,#1abc9c,#6559cc,#f672a7"
  >
    <apx-chart
      [chart]="apexbubble2Chart.chart!"
      [dataLabels]="apexbubble2Chart.dataLabels!"
      [series]="apexbubble2Chart.series!"
      [fill]="apexbubble2Chart.fill!"
      [colors]="apexbubble2Chart.colors!"
      [xaxis]="apexbubble2Chart.xaxis!"
      [yaxis]="apexbubble2Chart.yaxis!"
      [legend]="apexbubble2Chart.legend!"
      [grid]="apexbubble2Chart.grid!"
    />
  </div>
</custom-card-portlet>
