<custom-card-portlet
  cardTitle="Basic Column Chart"
  cardTitleClass="header-title mb-0"
>
  <div
    id="apex-column-1"
    class="apex-charts"
    data-colors="#3bafda,#1abc9c,#CED4DC"
  >
    <apx-chart
      [chart]="apexcolumn1Chart.chart!"
      [plotOptions]="apexcolumn1Chart.plotOptions!"
      [dataLabels]="apexcolumn1Chart.dataLabels!"
      [stroke]="apexcolumn1Chart.stroke!"
      [colors]="apexcolumn1Chart.colors!"
      [series]="apexcolumn1Chart.series!"
      [xaxis]="apexcolumn1Chart.xaxis!"
      [legend]="apexcolumn1Chart.legend!"
      [yaxis]="apexcolumn1Chart.yaxis!"
      [fill]="apexcolumn1Chart.fill!"
      [grid]="apexcolumn1Chart.grid!"
      [tooltip]="apexcolumn1Chart.tooltip!"
    />
  </div>
</custom-card-portlet>
