<custom-card-portlet
  cardTitle="Bar with Negative Values"
  cardTitleClass="header-title mb-0"
>
  <div id="apex-bar-2" class="apex-charts" data-colors="#3bafda,#1abc9c">
    <apx-chart
      [chart]="apexbar2Chart.chart!"
      [colors]="apexbar2Chart.colors!"
      [plotOptions]="apexbar2Chart.plotOptions!"
      [dataLabels]="apexbar2Chart.dataLabels!"
      [stroke]="apexbar2Chart.stroke!"
      [series]="apexbar2Chart.series!"
      [grid]="apexbar2Chart.grid!"
      [yaxis]="apexbar2Chart.yaxis!"
      [tooltip]="apexbar2Chart.tooltip!"
      [xaxis]="apexbar2Chart.xaxis!"
      [legend]="apexbar2Chart.legend!"
    />
  </div>
</custom-card-portlet>
