<div>
  <div><a href="javascript:void(0);" class="text-primary">T-shirts</a></div>
  <h4 class="mb-1">
    Hoodie for men (Blue)
    <a href="javascript: void(0);" class="text-muted"
      ><i class="mdi mdi-square-edit-outline ms-2"></i
    ></a>
  </h4>

  <p class="text-muted me-3 font-16">
    <ng-template #t let-fill="fill" let-index="index">
      <i class="mdi mdi-star" [ngClass]="{ 'me-1': index < 4 }">
        @if (fill > 0) {
          <i
            class="mdi mdi-star text-warning filled"
            [style.width.%]="fill"
          ></i>
        }
      </i>
    </ng-template>

    <ngb-rating [rate]="4" [starTemplate]="t" [readonly]="true" [max]="5" />
  </p>

  <div class="mt-3">
    <h6 class="text-danger text-uppercase">10 % Off</h6>
    <h4>
      Price : <span class="text-muted me-2"><del>$ 50</del></span>
      <b class="ms-1">$ 45</b>
    </h4>
  </div>
  <hr />

  <div>
    <p>
      If several languages coalesce, the grammar of the resulting language is
      more simple and regular than that of the individual new common simple and
      regular than existing
    </p>

    <div class="mt-3">
      <h5 class="font-size-14">Specification :</h5>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-unstyled product-desc-list">
            <li>
              <i class="mdi mdi-circle-medium me-1 align-middle"></i> Full
              Sleeve
            </li>
            <li>
              <i class="mdi mdi-circle-medium me-1 align-middle"></i> Cotton
            </li>
            <li>
              <i class="mdi mdi-circle-medium me-1 align-middle"></i> All Sizes
              available
            </li>
            <li>
              <i class="mdi mdi-circle-medium me-1 align-middle"></i> 4
              Different Color
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-unstyled product-desc-list">
            <li>
              <i class="mdi mdi-circle-medium me-1 align-middle"></i> All Sizes
              available
            </li>
            <li>
              <i class="mdi mdi-circle-medium me-1 align-middle"></i> 4
              Different Color
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <form class="d-flex flex-wrap align-items-center mb-3">
        <label class="my-1 me-2" for="quantityinput">Quantity</label>
        <div class="me-sm-3">
          <select class="form-select my-1" id="quantityinput">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
        </div>

        <label class="my-1 me-2" for="sizeinput">Size</label>
        <div class="me-sm-3">
          <select class="form-select my-1" id="sizeinput">
            <option selected>Small</option>
            <option value="1">Medium</option>
            <option value="2">Large</option>
            <option value="3">X-large</option>
          </select>
        </div>
      </form>

      <div>
        <button type="button" class="btn btn-success waves-effect waves-light">
          <span class="btn-label"><i class="mdi mdi-cart"></i></span>Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
