<app-page-title title="Dropdowns" [breadCrumbItems]="breadCrumbItems" />

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Examples</h4>
        <p class="sub-header">
          Toggle contextual overlays for displaying lists of links and more with
          the Bootstrap dropdown plugin.
        </p>

        <div class="row">
          <div class="col-xl-6">
            <div>
              <h5>Single button dropdowns</h5>
              <p class="text-muted font-13 mb-2">
                Any single <code class="highlighter-rouge">.btn</code> can be
                turned into a dropdown toggle with some markup changes. Here’s
                how you can put them to work with either
                <code class="highlighter-rouge">&lt;button&gt;</code>
                elements:
              </p>

              <div class="row">
                <div class="col-6">
                  <div ngbDropdown class="mt-2">
                    <button
                      ngbDropdownToggle
                      class="btn btn-light"
                      type="button"
                      id="dropdownMenuButton"
                    >
                      Dropdown button <i class="mdi mdi-chevron-down"></i>
                    </button>
                    <div ngbDropdownMenu>
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Action</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Another action</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Something else here</a
                      >
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div ngbDropdown class="mt-2">
                    <a
                      ngbDropdownToggle
                      class="btn btn-light"
                      role="button"
                      id="dropdownMenuLink"
                    >
                      Dropdown link <i class="mdi mdi-chevron-down"></i>
                    </a>

                    <div ngbDropdownMenu aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Action</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Another action</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Something else here</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-5">
              <h5 class="mb-1">Variant</h5>
              <p class="text-muted font-13 mb-2">
                The best part is you can do this with any button variant, too:
              </p>

              <div ngbDropdown class="btn-group me-1 mt-2">
                <button ngbDropdownToggle type="button" class="btn btn-primary">
                  Primary <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group me-1 mt-2">
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-secondary"
                >
                  Secondary <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group me-1 mt-2">
                <button ngbDropdownToggle type="button" class="btn btn-success">
                  Success <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group me-1 mt-2">
                <button ngbDropdownToggle type="button" class="btn btn-info">
                  Info <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group me-1 mt-2">
                <button ngbDropdownToggle type="button" class="btn btn-warning">
                  Warning <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group me-1 mt-2">
                <button ngbDropdownToggle type="button" class="btn btn-danger">
                  Danger <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
            </div>

            <div class="mt-5">
              <h5 class="mb-1">Dropend variation</h5>
              <p class="text-muted font-13 mb-2">
                Trigger dropdown menus at the right of the elements by adding
                <code>placement="right-top"</code> to the parent element.
              </p>

              <div
                ngbDropdown
                placement="right-top"
                class="btn-group mt-2 me-1 dropend"
              >
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-primary waves-effect waves-light"
                >
                  Dropend <i class="mdi mdi-chevron-right"></i>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-end">
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>

              <div
                ngbDropdown
                placement="right-top"
                class="btn-group mt-2 me-1 dropend"
              >
                <button type="button" class="btn btn-light waves-effect">
                  Split Dropend
                </button>
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-light waves-effect dropdown-toggle-split"
                >
                  <i class="mdi mdi-chevron-right"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
            </div>

            <div class="mt-5">
              <h5 class="mb-1">Dropup variation</h5>
              <p class="text-muted font-13 mb-2">
                Trigger dropdown menus above elements by adding
                <code class="highlighter-rouge">placement="top-start"</code> to
                the parent element.
              </p>

              <div
                ngbDropdown
                placement="top-start"
                class="btn-group dropup mt-2 me-1"
              >
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-purple waves-effect waves-light"
                >
                  Dropup <i class="mdi mdi-chevron-up"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>

              <div
                ngbDropdown
                placement="top-start"
                class="btn-group dropup mt-2 me-1"
              >
                <button type="button" class="btn btn-light">
                  Split dropup
                </button>
                <button ngbDropdownToggle type="button" class="btn btn-light">
                  <i class="mdi mdi-chevron-up"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
            </div>

            <div class="mt-5">
              <h5 class="mb-1">Active Item</h5>
              <p class="text-muted font-13 mb-2">
                Add <code>.active</code> to item in the dropdown to
                <strong>style them as active</strong>.
              </p>

              <div ngbDropdown class="btn-group mt-2">
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-secondary"
                >
                  Active Item <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Regular link</a
                  >
                  <a class="dropdown-item active" href="javascript:void(0);"
                    >Active link</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another link</a
                  >
                </div>
              </div>
            </div>

            <div class="mt-5">
              <h5 class="mb-1">Headers</h5>
              <p class="text-muted font-13 mb-2">
                Add a header to label sections of actions in any dropdown menu.
              </p>

              <div ngbDropdown class="btn-group mt-2">
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-secondary"
                >
                  Header <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <h6 class="dropdown-header">Dropdown header</h6>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                </div>
              </div>
            </div>

            <div class="mt-5">
              <h5 class="mb-1">Forms</h5>
              <p class="text-muted font-13 mb-2">
                Put a form within a dropdown menu, or make it into a dropdown
                menu, and use margin or padding utilities to give it the
                negative space you require.
              </p>

              <div ngbDropdown class="mt-2">
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-secondary"
                >
                  Form <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <form class="px-4 py-3">
                    <div class="mb-2">
                      <label for="exampleDropdownFormEmail1" class="form-label"
                        >Email address</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="exampleDropdownFormEmail1"
                        placeholder="email@example.com"
                      />
                    </div>
                    <div class="mb-2">
                      <label
                        for="exampleDropdownFormPassword1"
                        class="form-label"
                        >Password</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="exampleDropdownFormPassword1"
                        placeholder="Password"
                      />
                    </div>
                    <div class="mb-2">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="dropdownCheck"
                        />
                        <label class="form-check-label" for="dropdownCheck">
                          Remember me
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Sign in
                    </button>
                  </form>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >New around here? Sign up</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Forgot password?</a
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6">
            <div class="mt-5 mt-xl-0">
              <h5 class="mb-1">Split button dropdowns</h5>
              <p class="text-muted font-13 mb-2">
                Similarly, create split button dropdowns with virtually the same
                markup as single button dropdowns, but with the addition of
                <code class="highlighter-rouge">.dropdown-toggle-split</code>
                for proper spacing around the dropdown caret.
              </p>

              <div ngbDropdown class="btn-group dropdown mt-2 me-1">
                <button type="button" class="btn btn-primary">Primary</button>
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-primary dropdown-toggle-split"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group mt-2 me-1">
                <button type="button" class="btn btn-secondary">
                  Secondary
                </button>
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-secondary dropdown-toggle-split"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group mt-2 me-1">
                <button type="button" class="btn btn-success">Success</button>
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-success dropdown-toggle-split"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group mt-2 me-1">
                <button type="button" class="btn btn-info">Info</button>
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-info dropdown-toggle-split"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group mt-2 me-1">
                <button type="button" class="btn btn-warning">Warning</button>
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-warning dropdown-toggle-split"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group mt-2 me-1">
                <button type="button" class="btn btn-danger">Danger</button>
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-danger dropdown-toggle-split"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
            </div>

            <div class="mt-5">
              <h5 class="mb-1">Sizing</h5>
              <p class="text-muted font-13 mb-2">
                Button dropdowns work with buttons of all sizes, including
                default and split dropdown buttons.
              </p>

              <div ngbDropdown class="btn-group mt-2 me-1">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-lg"
                  type="button"
                >
                  Large button <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group mt-2 me-1">
                <button class="btn btn-light btn-lg" type="button">
                  Large button
                </button>
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-lg btn-light dropdown-toggle-split"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>

              <div ngbDropdown class="btn-group mt-2 me-1">
                <button
                  ngbDropdownToggle
                  class="btn btn-success btn-sm"
                  type="button"
                >
                  Small button <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
              <div ngbDropdown class="btn-group mt-2 me-1">
                <button class="btn btn-light btn-sm" type="button">
                  Small button
                </button>
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-sm btn-light dropdown-toggle-split"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>
            </div>

            <div class="mt-5">
              <h5 class="mb-1">Dropstart variation</h5>
              <p class="text-muted font-13 mb-2">
                Trigger dropdown menus at the right of the elements by adding
                <code>placement="left-top"</code> to the parent element.
              </p>

              <div
                ngbDropdown
                placement="left-top"
                class="btn-group mt-2 me-1 dropstart"
              >
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-info waves-effect waves-light"
                >
                  <i class="mdi mdi-chevron-left"></i> Dropstart
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Separated link</a
                  >
                </div>
              </div>

              <div class="btn-group mt-2 me-1 dropstart">
                <div class="btn-group">
                  <div
                    ngbDropdown
                    placement="left-top"
                    class="btn-group dropstart"
                    role="group"
                  >
                    <button
                      ngbDropdownToggle
                      type="button"
                      class="btn btn-light dropdown-toggle-split"
                    >
                      <i class="mdi mdi-chevron-left"></i>
                    </button>
                    <div ngbDropdownMenu>
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Action</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Another action</a
                      >
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Something else here</a
                      >
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Separated link</a
                      >
                    </div>
                  </div>
                  <button type="button" class="btn btn-light">
                    Split dropstart
                  </button>
                </div>
              </div>
            </div>

            <div class="mt-5">
              <h5 class="mb-1">Menu alignment</h5>
              <p class="text-muted font-13 mb-2">
                Add <code class="highlighter-rouge">.dropdown-menu-end</code> to
                a <code class="highlighter-rouge">.dropdown-menu</code> to right
                align the dropdown menu.
              </p>

              <div ngbDropdown class="btn-group mt-2">
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn btn-light"
                  data-bs-display="static"
                >
                  Right-aligned <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-end">
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another action</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Something else here</a
                  >
                </div>
              </div>
            </div>

            <div class="mt-5">
              <h5 class="mb-1">Disabled Item</h5>
              <p class="text-muted font-13 mb-2">
                Add <code>.disabled</code> to items in the dropdown to
                <strong>style them as disabled</strong>.
              </p>

              <div ngbDropdown class="btn-group mt-2">
                <button ngbDropdownToggle type="button" class="btn btn-primary">
                  Disabled <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Regular link</a
                  >
                  <a
                    class="dropdown-item disabled"
                    href="javascript:void(0);"
                    tabindex="-1"
                    aria-disabled="true"
                    >Disabled link</a
                  >
                  <a class="dropdown-item" href="javascript:void(0);"
                    >Another link</a
                  >
                </div>
              </div>
            </div>

            <div class="mt-5">
              <h5 class="mb-1">Text</h5>
              <p class="text-muted font-13 mb-2">
                Place any freeform text within a dropdown menu with text and use
                spacing utilities. Note that you’ll likely need additional
                sizing styles to constrain the menu width.
              </p>

              <div ngbDropdown class="btn-group mt-2">
                <button ngbDropdownToggle type="button" class="btn btn-primary">
                  Text Dropdown <i class="mdi mdi-chevron-down"></i>
                </button>
                <div
                  ngbDropdownMenu
                  class="p-3 text-muted"
                  style="max-width: 200px"
                >
                  <p>
                    Some example text that's free-flowing within the dropdown
                    menu.
                  </p>
                  <p class="mb-0">And this is more example text.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
