<app-page-title title="Modals" [breadCrumbItems]="breadCrumbItems" />

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Bootstrap Modals</h4>

        <p class="sub-header">
          A rendered modal with header, body, and set of actions in the footer.
        </p>

        <ng-template #standard let-modal id="standard-modal">
          <div class="modal-header">
            <h4 class="modal-title" id="standard-modalLabel">Modal Heading</h4>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close('click')"
            ></button>
          </div>
          <div class="modal-body">
            <h6>Text in a modal</h6>
            <p>
              Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            </p>
            <hr />
            <h6>Overflowing text to show scroll behavior</h6>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
              dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta
              ac consectetur ac, vestibulum at eros.
            </p>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur
              et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
              dui. Donec ullamcorper nulla non metus auctor fringilla.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close()">
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </ng-template>

        <ng-template #largeModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close('click')"
            ></button>
          </div>
          <div class="modal-body">...</div>
        </ng-template>

        <ng-template #smallModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="mySmallModalLabel">Small modal</h4>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close('click')"
            ></button>
          </div>
          <div class="modal-body">...</div>
        </ng-template>

        <ng-template #fullWidthModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="fullWidthModalLabel">Modal Heading</h4>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close('click')"
            ></button>
          </div>
          <div class="modal-body">
            <h6>Text in a modal</h6>
            <p>
              Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            </p>
            <hr />
            <h6>Overflowing text to show scroll behavior</h6>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
              dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta
              ac consectetur ac, vestibulum at eros.
            </p>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur
              et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
              dui. Donec ullamcorper nulla non metus auctor fringilla.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light"
              (click)="modal.close('click')"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </ng-template>

        <ng-template #fullscreen let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="fullScreenModalLabel">Modal Heading</h4>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close('click')"
            ></button>
          </div>
          <div class="modal-body">
            <h6>Text in a modal</h6>
            <p>
              Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            </p>
            <hr />
            <h6>Overflowing text to show scroll behavior</h6>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
              dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta
              ac consectetur ac, vestibulum at eros.
            </p>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur
              et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
              dui. Donec ullamcorper nulla non metus auctor fringilla.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light"
              (click)="modal.close('click')"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </ng-template>

        <ng-template #scrollable let-modal>
          <div class="modal-header">
            <h5 class="modal-title" id="scrollableModalTitle">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close()"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
              dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta
              ac consectetur ac, vestibulum at eros.
            </p>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur
              et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
              dui. Donec ullamcorper nulla non metus auctor fringilla.
            </p>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
              dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta
              ac consectetur ac, vestibulum at eros.
            </p>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur
              et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
              dui. Donec ullamcorper nulla non metus auctor fringilla.
            </p>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
              dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta
              ac consectetur ac, vestibulum at eros.
            </p>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur
              et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
              dui. Donec ullamcorper nulla non metus auctor fringilla.
            </p>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
              dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta
              ac consectetur ac, vestibulum at eros.
            </p>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur
              et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
              dui. Donec ullamcorper nulla non metus auctor fringilla.
            </p>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
              dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta
              ac consectetur ac, vestibulum at eros.
            </p>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur
              et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
              dui. Donec ullamcorper nulla non metus auctor fringilla.
            </p>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
              dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta
              ac consectetur ac, vestibulum at eros.
            </p>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur
              et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
              dui. Donec ullamcorper nulla non metus auctor fringilla.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="modal.close()"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </ng-template>

        <div class="button-list">
          <button
            type="button"
            class="btn btn-primary"
            (click)="open(standard)"
          >
            Standard Modal
          </button>

          <button
            type="button"
            class="btn btn-info"
            (click)="openModal(largeModal, { size: 'lg' })"
          >
            Large Modal
          </button>

          <button
            type="button"
            class="btn btn-success"
            (click)="openModal(smallModal, { size: 'sm' })"
          >
            Small Modal
          </button>

          <button
            type="button"
            class="btn btn-purple"
            (click)="openModal(fullscreen, { fullscreen: true })"
          >
            Full Screen Modal
          </button>

          <button
            type="button"
            class="btn btn-pink"
            (click)="openModal(fullWidthModal, { size: 'xl' })"
          >
            Full width Modal
          </button>

          <button
            type="button"
            class="btn btn-secondary"
            (click)="openModal(scrollable, { scrollable: true })"
          >
            Scrollable Modal
          </button>
        </div>
      </div>
    </div>
    <!-- end card-->
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Static backdrop</h4>
        <p class="sub-header">Examples of Static backdrop.</p>

        <button
          type="button"
          class="btn btn-primary"
          (click)="staticBackdrop(static)"
        >
          Launch static backdrop modal
        </button>

        <ng-template let-modal #static>
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close()"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Praesent commodo
              cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
              dui. Donec ullamcorper nulla non metus auctor fringilla.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="modal.close()"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Understood</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Modal with Pages</h4>
        <p class="sub-header">Examples of custom modals.</p>

        <ng-template #signupModal let-modal>
          <div class="modal-body">
            <div class="text-center mt-2 mb-4">
              <div class="auth-logo">
                <a routerLink="/" class="logo logo-dark">
                  <span class="logo-lg">
                    <img src="assets/images/logo-dark.png" alt="" height="22" />
                  </span>
                </a>

                <a routerLink="/" class="logo logo-light">
                  <span class="logo-lg">
                    <img
                      src="assets/images/logo-light.png"
                      alt=""
                      height="22"
                    />
                  </span>
                </a>
              </div>
            </div>

            <form class="px-3" action="#">
              <div class="mb-3">
                <label for="username" class="form-label">Name</label>
                <input
                  class="form-control"
                  type="email"
                  id="username"
                  required=""
                  placeholder="Michael Zenaty"
                />
              </div>

              <div class="mb-3">
                <label for="emailaddress" class="form-label"
                  >Email address</label
                >
                <input
                  class="form-control"
                  type="email"
                  id="emailaddress"
                  required=""
                  placeholder="john@deo.com"
                />
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  class="form-control"
                  type="password"
                  required=""
                  id="password"
                  placeholder="Enter your password"
                />
              </div>

              <div class="mb-3">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >I accept
                    <a href="javascript:void(0);"
                      >Terms and Conditions</a
                    ></label
                  >
                </div>
              </div>

              <div class="mb-3 text-center">
                <button class="btn btn-primary" type="submit">
                  Sign Up Free
                </button>
              </div>
            </form>
          </div>
        </ng-template>

        <ng-template #loginModal let-modal>
          <div class="modal-body">
            <div class="text-center mt-2 mb-4">
              <div class="auth-logo">
                <a routerLink="/" class="logo logo-dark">
                  <span class="logo-lg">
                    <img src="assets/images/logo-dark.png" alt="" height="22" />
                  </span>
                </a>

                <a routerLink="/" class="logo logo-light">
                  <span class="logo-lg">
                    <img
                      src="assets/images/logo-light.png"
                      alt=""
                      height="22"
                    />
                  </span>
                </a>
              </div>
            </div>

            <form action="#" class="px-3">
              <div class="mb-3">
                <label for="emailaddress1" class="form-label"
                  >Email address</label
                >
                <input
                  class="form-control"
                  type="email"
                  id="emailaddress1"
                  required=""
                  placeholder="john@deo.com"
                />
              </div>

              <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input
                  class="form-control"
                  type="password"
                  required=""
                  id="password1"
                  placeholder="Enter your password"
                />
              </div>

              <div class="mb-3">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="login-rememberCheck"
                  />
                  <label class="form-check-label" for="login-rememberCheck"
                    >Remember me</label
                  >
                </div>
              </div>

              <div class="mb-3 text-center">
                <button class="btn rounded-pill btn-primary" type="submit">
                  Sign In
                </button>
              </div>
            </form>
          </div>
        </ng-template>

        <div class="button-list">
          <button
            type="button"
            class="btn btn-primary"
            (click)="open(signupModal)"
          >
            Sign Up Modal
          </button>

          <button type="button" class="btn btn-info" (click)="open(loginModal)">
            Log In Modal
          </button>
        </div>
      </div>
    </div>
    <!-- end card-->
  </div>
</div>

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Modal Position</h4>
        <p class="sub-header">
          Specify the position for the modal. You can display modal at top,
          bottom, center or right of page by specifying classes
          <code>modal-top</code>, <code>modal-bottom</code>,
          <code>modal-dialog-centered</code> and
          <code>modal-right</code> respectively.
        </p>

        <ng-template #topModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="topModalLabel">Modal Heading</h4>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close()"
            ></button>
          </div>
          <div class="modal-body">
            <h5>Text in a modal</h5>
            <p>
              Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close()">
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </ng-template>

        <ng-template #rightModal let-modal>
          <div class="modal-header border-0">
            <button
              type="button"
              class="btn-close"
              (click)="modal.close()"
            ></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <h4 class="mt-0">Text in a modal</h4>
              <p>
                Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
              </p>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="modal.close()"
              >
                Close
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template
          #bottomModal
          let-modal
          id="bottom-modal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-header">
            <h4 class="modal-title" id="bottomModalLabel">Modal Heading</h4>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close()"
            ></button>
          </div>
          <div class="modal-body">
            <h5>Text in a modal</h5>
            <p>
              Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close()">
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </ng-template>

        <ng-template
          #centerModal
          let-modal
          class="modal fade"
          id="centermodal"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-header">
            <h4 class="modal-title" id="myCenterModalLabel">Center modal</h4>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close()"
            ></button>
          </div>
          <div class="modal-body">
            <h5>Overflowing text to show scroll behavior</h5>
            <p>
              Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
              dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta
              ac consectetur ac, vestibulum at eros.
            </p>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur
              et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
              auctor.
            </p>
          </div>
        </ng-template>

        <div class="button-list">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="openModal(rightModal, { modalDialogClass: 'modal-top' })"
          >
            Top Modal
          </button>

          <button
            type="button"
            class="btn btn-secondary"
            (click)="
              openModal(rightModal, {
                modalDialogClass: 'modal-sm modal-bottom',
              })
            "
          >
            Bottom Modal
          </button>

          <button
            type="button"
            class="btn btn-secondary"
            (click)="openModal(rightModal, { centered: true })"
          >
            Center modal
          </button>

          <button
            type="button"
            class="btn btn-secondary"
            (click)="
              openModal(rightModal, {
                modalDialogClass: 'modal-sm modal-right',
              })
            "
          >
            Rightbar Modal
          </button>
        </div>
      </div>
    </div>
    <!-- end card-->
  </div>

  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Modal based Alerts</h4>
        <p class="sub-header">
          Show different contexual alert messages using modal component
        </p>

        <ng-template
          #success
          let-modal
          id="success-alert-modal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-filled bg-success">
            <div class="modal-body p-4">
              <div class="text-center">
                <i class="bx bx-check-double h1 text-white"></i>
                <h4 class="mt-2 text-white">Well Done!</h4>
                <p class="mt-3 text-white">
                  Cras mattis consectetur purus sit amet fermentum. Cras justo
                  odio, dapibus ac facilisis in, egestas eget quam.
                </p>
                <button
                  type="button"
                  class="btn btn-light my-2"
                  (click)="modal.close()"
                >
                  Continue
                </button>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template
          #info
          let-modal
          id="info-alert-modal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-body p-4">
            <div class="text-center">
              <i class="bx bxs-info-circle h1 text-info"></i>
              <h4 class="mt-2">Heads up!</h4>
              <p class="mt-3">
                Cras mattis consectetur purus sit amet fermentum. Cras justo
                odio, dapibus ac facilisis in, egestas eget quam.
              </p>
              <button
                type="button"
                class="btn btn-info my-2"
                (click)="modal.close()"
              >
                Continue
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template
          #warning
          let-modal
          id="warning-alert-modal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-body p-4">
            <div class="text-center">
              <i class="bx bxs-no-entry h1 text-warning"></i>
              <h4 class="mt-2">Incorrect Information</h4>
              <p class="mt-3">
                Cras mattis consectetur purus sit amet fermentum. Cras justo
                odio, dapibus ac facilisis in, egestas eget quam.
              </p>
              <button
                type="button"
                class="btn btn-warning my-2"
                (click)="modal.close()"
              >
                Continue
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template #danger let-modal>
          <div class="modal-filled bg-danger">
            <div class="modal-body p-4">
              <div class="text-center">
                <i class="bx bx-aperture h1 text-white"></i>
                <h4 class="mt-2 text-white">Oh snap!</h4>
                <p class="mt-3 text-white">
                  Cras mattis consectetur purus sit amet fermentum. Cras justo
                  odio, dapibus ac facilisis in, egestas eget quam.
                </p>
                <button
                  type="button"
                  class="btn btn-light my-2"
                  (click)="modal.close()"
                >
                  Continue
                </button>
              </div>
            </div>
          </div>
        </ng-template>

        <div class="button-list">
          <button
            type="button"
            class="btn btn-success"
            (click)="openModal(success, { size: 'sm' })"
          >
            Success Alert
          </button>

          <button
            type="button"
            class="btn btn-info"
            (click)="openModal(info, { size: 'sm' })"
          >
            Info Alert
          </button>

          <button
            type="button"
            class="btn btn-warning"
            (click)="openModal(warning, { size: 'sm' })"
          >
            Warning Alert
          </button>

          <button
            type="button"
            class="btn btn-danger"
            (click)="openModal(danger, { size: 'sm' })"
          >
            Danger Alert
          </button>
        </div>
      </div>
    </div>
    <!-- end card-->
  </div>
</div>

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Multiple Modal</h4>
        <p class="sub-header">
          Display a series of modals one by one to guide your users on multiple
          aspects or take step wise input.
        </p>

        <ng-template #firstModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalToggleLabel">Modal 1</h4>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close()"
            ></button>
          </div>
          <div class="modal-body">
            Show a second modal and hide this one with the button below.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary"
              (click)="modal.close()"
              (click)="openModal(secondModal, { centered: true })"
            >
              Open second modal
            </button>
          </div>
        </ng-template>

        <ng-template #secondModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h4>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close()"
            ></button>
          </div>
          <div class="modal-body">
            Hide this modal and show the first with the button below.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary"
              (click)="modal.close()"
              (click)="openModal(firstModal, { centered: true })"
            >
              Back to first
            </button>
          </div>
        </ng-template>

        <a
          class="btn btn-secondary"
          (click)="openModal(firstModal, { centered: true })"
          role="button"
          >Open first modal</a
        >
      </div>
    </div>
    <!-- end card-->
  </div>

  <div class="col-xl-6">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Custom Modals</h4>

        <p class="sub-header">Examples of custom modals.</p>

        <ng-template #responsive let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Modal Content is Responsive</h4>
            <button
              type="button"
              class="btn-close"
              (click)="modal.close()"
            ></button>
          </div>
          <div class="modal-body p-4">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="field-1" class="form-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="field-1"
                    placeholder="John"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="field-2" class="form-label">Surname</label>
                  <input
                    type="text"
                    class="form-control"
                    id="field-2"
                    placeholder="Doe"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="field-3" class="form-label">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    id="field-3"
                    placeholder="Address"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="field-4" class="form-label">City</label>
                  <input
                    type="text"
                    class="form-control"
                    id="field-4"
                    placeholder="Boston"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="field-5" class="form-label">Country</label>
                  <input
                    type="text"
                    class="form-control"
                    id="field-5"
                    placeholder="United States"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="field-6" class="form-label">Zip</label>
                  <input
                    type="text"
                    class="form-control"
                    id="field-6"
                    placeholder="123456"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3 no-margin">
                  <label for="field-7" class="form-label">Personal Info</label>
                  <textarea
                    class="form-control"
                    id="field-7"
                    placeholder="Write something about yourself"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary waves-effect"
              (click)="modal.close()"
            >
              Close
            </button>
            <button type="button" class="btn btn-info waves-effect waves-light">
              Save changes
            </button>
          </div>
        </ng-template>

        <ng-template #accordion let-modal>
          <div class="p-0">
            <div ngbAccordion [closeOthers]="true" id="accordionExample">
              <div ngbAccordionItem [collapsed]="false">
                <h2 ngbAccordionHeader class="mt-0" id="headingOne">
                  <button
                    ngbAccordionButton
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Accordion Item #1
                  </button>
                </h2>
                <div
                  ngbAccordionCollapse
                  id="collapseOne"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div ngbAccordionBody>
                    <strong>This is the first item's accordion body.</strong> It
                    is hidden by default, until the collapse plugin adds the
                    appropriate classes that we use to style each element. These
                    classes control the overall appearance, as well as the
                    showing and hiding via CSS transitions. You can modify any
                    of this with custom CSS or overriding our default variables.
                    It's also worth noting that just about any HTML can go
                    within the <code>.accordion-body</code>, though the
                    transition does limit overflow.
                  </div>
                </div>
              </div>
              <div ngbAccordionItem class="accordion-item">
                <h2 ngbAccordionHeader id="headingTwo">
                  <button
                    ngbAccordionButton
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Accordion Item #2
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  ngbAccordionCollapse
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div ngbAccordionBody>
                    <strong>This is the second item's accordion body.</strong>
                    It is hidden by default, until the collapse plugin adds the
                    appropriate classes that we use to style each element. These
                    classes control the overall appearance, as well as the
                    showing and hiding via CSS transitions. You can modify any
                    of this with custom CSS or overriding our default variables.
                    It's also worth noting that just about any HTML can go
                    within the <code>.accordion-body</code>, though the
                    transition does limit overflow.
                  </div>
                </div>
              </div>
              <div ngbAccordionItem="">
                <h2 ngbAccordionHeader id="headingThree">
                  <button
                    ngbAccordionButton
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Accordion Item #3
                  </button>
                </h2>
                <div
                  ngbAccordionCollapse
                  id="collapseThree"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div ngbAccordionBody>
                    <strong>This is the third item's accordion body.</strong> It
                    is hidden by default, until the collapse plugin adds the
                    appropriate classes that we use to style each element. These
                    classes control the overall appearance, as well as the
                    showing and hiding via CSS transitions. You can modify any
                    of this with custom CSS or overriding our default variables.
                    It's also worth noting that just about any HTML can go
                    within the <code>.accordion-body</code>, though the
                    transition does limit overflow.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <div class="button-list">
          <button
            type="button"
            class="btn btn-success waves-effect waves-light"
            (click)="open(responsive)"
          >
            Responsive Modal
          </button>

          <button
            type="button"
            class="btn btn-secondary waves-effect waves-light"
            (click)="open(accordion)"
          >
            Accordion in Modal
          </button>
        </div>
      </div>
    </div>
    <!-- end card-->
  </div>
</div>
