<app-page-title title="Task Detail" [breadCrumbItems]="breadCrumbItems" />

<div class="row">
  <div class="col-xl-8">
    <detail-task />
    <detail-attachment />
  </div>

  <div class="col-xl-4">
    <detail-comment />
    <!-- end card-->
  </div>
</div>

<div class="d-none" id="uploadPreviewTemplate">
  <div class="card mb-2 shadow-none border">
    <div class="p-2">
      <div class="row align-items-center">
        <div class="col-auto">
          <img
            data-dz-thumbnail
            src="#"
            class="avatar-sm rounded bg-light"
            alt=""
          />
        </div>
        <div class="col ps-0">
          <a
            href="javascript:void(0);"
            class="text-muted fw-bold"
            data-dz-name
          ></a>
          <p class="mb-0" data-dz-size></p>
        </div>
        <div class="col-auto">
          <a
            href="javascript:void(0);"
            class="btn btn-link btn-lg text-muted"
            data-dz-remove
          >
            <i class="fe-x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
