<custom-card-portlet
  cardTitle="Gradient Line Chart"
  cardTitleClass="header-title mb-0"
>
  <div id="apex-line-2" class="apex-charts" data-colors="#f672a7">
    <apx-chart
      [chart]="apexline2Chart.chart!"
      [stroke]="apexline2Chart.stroke!"
      [series]="apexline2Chart.series!"
      [xaxis]="apexline2Chart.xaxis!"
      [title]="apexline2Chart.title!"
      [fill]="apexline2Chart.fill!"
      [markers]="apexline2Chart.markers!"
      [yaxis]="apexline2Chart.yaxis!"
      [grid]="apexline2Chart.grid!"
      [responsive]="apexline2Chart.responsive!"
    />
  </div>
</custom-card-portlet>
