<custom-card-portlet
  cardTitle="Stroked Circular Guage"
  cardTitleClass="header-title mb-0"
>
  <div id="apex-radialbar-3" class="apex-charts" data-colors="#f1556c">
    <apx-chart
      [chart]="apexradialbar3Chart.chart!"
      [plotOptions]="apexradialbar3Chart.plotOptions!"
      [fill]="apexradialbar3Chart.fill!"
      [stroke]="apexradialbar3Chart.stroke!"
      [colors]="apexradialbar3Chart.colors!"
      [series]="apexradialbar3Chart.series!"
      [labels]="apexradialbar3Chart.labels!"
      [responsive]="apexradialbar3Chart.responsive!"
    />
  </div>
</custom-card-portlet>
