<div>
  <h4 class="header-title">Payment Selection</h4>

  <p class="sub-header">
    Fill the form below in order to send you the order's invoice.
  </p>

  <!-- Pay with Paypal box-->
  <div class="border p-3 mb-3 rounded">
    <div class="float-end">
      <i class="fab fa-cc-paypal font-24 text-primary"></i>
    </div>

    <div class="form-check form-check-inline font-16 mb-0">
      <input
        class="form-check-input"
        type="radio"
        name="billingOptions"
        id="BillingOptRadio1"
      />
      <label class="form-check-label" for="BillingOptRadio1"
        >Pay with Paypal</label
      >
    </div>
    <p class="mb-0 ps-3 pt-1">
      You will be redirected to PayPal website to complete your purchase
      securely.
    </p>
  </div>
  <!-- end Pay with Paypal box-->

  <!-- Credit/Debit Card box-->
  <div class="border p-3 mb-3 rounded">
    <div class="float-end">
      <i class="far fa-credit-card font-24 text-primary"></i>
    </div>
    <div class="form-check form-check-inline font-16 mb-0">
      <input
        class="form-check-input"
        type="radio"
        name="billingOptions"
        id="BillingOptRadio2"
        checked
      />
      <label class="form-check-label" for="BillingOptRadio2"
        >Credit / Debit Card</label
      >
    </div>
    <p class="mb-0 ps-3 pt-1">
      Safe money transfer using your bank account. We support Mastercard, Visa,
      Discover and Stripe.
    </p>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="mb-2">
          <label for="card-number" class="form-label">Card Number</label>
          <input
            type="text"
            id="card-number"
            class="form-control"
            data-toggle="input-mask"
            data-mask-format="0000 0000 0000 0000"
            placeholder="4242 4242 4242 4242"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2">
          <label for="card-name-on" class="form-label">Name on card</label>
          <input
            type="text"
            id="card-name-on"
            class="form-control"
            placeholder="Master Name"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-2">
          <label for="card-expiry-date" class="form-label">Expiry date</label>
          <input
            type="text"
            id="card-expiry-date"
            class="form-control"
            data-toggle="input-mask"
            data-mask-format="00/00"
            placeholder="MM/YY"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-2">
          <label for="card-cvv" class="form-label">CVV code</label>
          <input
            type="text"
            id="card-cvv"
            class="form-control"
            data-toggle="input-mask"
            data-mask-format="000"
            placeholder="012"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- end Credit/Debit Card box-->

  <!-- Cash on Delivery box-->
  <div class="border p-3 mb-3 rounded">
    <div class="float-end">
      <i class="fas fa-money-bill-alt font-24 text-primary"></i>
    </div>
    <div class="form-check form-check-inline font-16 mb-0">
      <input
        class="form-check-input"
        type="radio"
        name="billingOptions"
        id="BillingOptRadio3"
      />
      <label class="form-check-label" for="BillingOptRadio3"
        >Cash on Delivery</label
      >
    </div>
    <p class="mb-0 ps-3 pt-1">Pay with cash when your order is delivered.</p>
  </div>
  <!-- end Cash on Delivery box-->
</div>
