<div class="text-center w-75 m-auto">
  <img
    src="assets/images/users/avatar-1.jpg"
    alt="user-image"
    class="rounded-circle avatar-lg img-thumbnail"
  />
  <h4 class="text-dark-50 text-center mt-3">Hi ! Nik Patel</h4>
  <p class="text-muted mb-4">Enter your password to access the admin.</p>
</div>

<form action="#">
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      class="form-control"
      type="password"
      required=""
      id="password"
      placeholder="Enter your password"
    />
  </div>

  <div class="d-grid text-center">
    <button class="btn btn-primary" type="submit">Log In</button>
  </div>
</form>

<!-- Footer-->
<footer class="footer footer-alt">
  <p class="text-muted">
    Not you? return
    <a routerLink="/auth/login-2" class="text-primary fw-medium ms-1"
      >Sign In</a
    >
  </p>
</footer>
