<custom-card-portlet
  cardTitle="Sparkline Charts"
  cardTitleClass="header-title mb-0"
>
  <div id="apex-column-2" class="apex-charts" data-colors="#3bafda">
    <apx-chart
      [chart]="apexcolumn2Chart.chart!"
      [plotOptions]="apexcolumn2Chart.plotOptions!"
      [dataLabels]="apexcolumn2Chart.dataLabels!"
      [colors]="apexcolumn2Chart.colors!"
      [series]="apexcolumn2Chart.series!"
      [xaxis]="apexcolumn2Chart.xaxis!"
      [fill]="apexcolumn2Chart.fill!"
      [yaxis]="apexcolumn2Chart.yaxis!"
      [title]="apexcolumn2Chart.title!"
      [grid]="apexcolumn2Chart.grid!"
    />
  </div>
</custom-card-portlet>
