{% extends "layouts/vertical.html" %}
{% load static i18n %}

{% block title %}
{% trans "Quilljs Editor" %}
{% endblock title %}

{% block extra_css %}

<!-- Plugins css -->
<link href="{% static 'libs/quill/quill.core.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/quill/quill.bubble.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/quill/quill.snow.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block content %}
 <!-- Start Content-->
<div class="container-fluid">

    {% include "partials/page-title.html" with subtitle="Forms" title="Quilljs Editor" %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Snow Editor</h4>
                    <p class="sub-header">Snow is a clean, flat toolbar theme.</p>

                    <div id="snow-editor" style="height: 300px;">
                        <h3><span class="ql-size-large">Hello World!</span></h3>
                        <p><br></p>
                        <h3>This is an simple editable area.</h3>
                        <p><br></p>
                        <ul>
                            <li>
                                Select a text to reveal the toolbar.
                            </li>
                            <li>
                                Edit rich document on-the-fly, so elastic!
                            </li>
                        </ul>
                        <p><br></p>
                        <p>
                            End of simple area
                        </p>
                    </div> <!-- end Snow-editor-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div><!-- end col -->
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Bubble Editor</h4>
                    <p class="sub-header">Bubble is a simple tooltip based theme.</p>

                    <div id="bubble-editor" style="height: 300px;">
                        <h3><span class="ql-size-large">Hello World!</span></h3>
                        <p><br></p>
                        <h3>This is an simple editable area.</h3>
                        <p><br></p>
                        <ul>
                            <li>
                                Select a text to reveal the toolbar.
                            </li>
                            <li>
                                Edit rich document on-the-fly, so elastic!
                            </li>
                        </ul>
                        <p><br></p>
                        <p>
                            End of simple area
                        </p>
                    </div> <!-- end Snow-editor-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div><!-- end col -->
    </div>
    <!-- end row -->

</div> <!-- container -->

{% endblock %}

{% block extra_javascript %}

<!-- Plugins js-->
<script src="{% static 'libs/quill/quill.js'%}"></script>

<!-- init js-->
<script src="{% static 'js/pages/form-quilljs.init.js'%}"></script>
{% endblock %}
