<!-- title-->
<h4 class="mt-0">Recover Password</h4>
<p class="text-muted mb-4">
  Enter your email address and we'll send you an email with instructions to
  reset your password.
</p>

<form action="#">
  <div class="mb-3">
    <label for="emailaddress" class="form-label">Email address</label>
    <input
      class="form-control"
      type="email"
      id="emailaddress"
      required=""
      placeholder="Enter your email"
    />
  </div>

  <div class="d-grid text-center">
    <button class="btn btn-primary waves-effect waves-light" type="submit">
      Reset Password
    </button>
  </div>
</form>
<!-- end form-->

<!-- Footer-->
<footer class="footer footer-alt">
  <p class="text-muted">
    Back to
    <a routerLink="/auth/login-2" class="text-primary fw-medium ms-1">Log in</a>
  </p>
</footer>
