<div class="card">
  <div class="card-body">
    <div ngbDropdown class="dropdown float-end">
      <a
        ngbDropdownToggle
        class="dropdown-toggle arrow-none text-muted"
        role="button"
      >
        <i class="mdi mdi-dots-horizontal font-18"></i>
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">
          <i class="mdi mdi-attachment me-1"></i>Attachment
        </a>
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">
          <i class="mdi mdi-pencil-outline me-1"></i>Edit
        </a>
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">
          <i class="mdi mdi-content-copy me-1"></i>Mark as Duplicate
        </a>
        <div class="dropdown-divider"></div>
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item text-danger">
          <i class="mdi mdi-delete-outline me-1"></i>Delete
        </a>
      </div>
      <!-- end dropdown menu-->
    </div>
    <!-- end dropdown-->
    <h5 class="header-title mb-3">Attachments</h5>

    <div class="row">
      <div class="col-md-6">
        <div>
          <FileUploader
            [showPreview]="false"
            (receiveFiles)="uploadFiles($event)"
          />
        </div>
      </div>

      <div class="col-sm-6">
        <div class="mt-4 mt-md-0">
          <div class="card border mb-2">
            <div class="p-2">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="avatar-sm">
                    <span
                      class="avatar-title badge-soft-primary text-primary rounded"
                    >
                      ZIP
                    </span>
                  </div>
                </div>
                <div class="col ps-0">
                  <a href="javascript:void(0);" class="text-muted fw-semibold"
                    >Minton-sketch-design.zip</a
                  >
                  <p class="mb-0 font-12">2.3 MB</p>
                </div>
                <div class="col-auto">
                  <a
                    href="javascript:void(0);"
                    class="btn btn-link font-16 text-muted"
                  >
                    <i class="ri-download-2-line"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="card border mb-0">
            <div class="p-2">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="avatar-sm">
                    <span class="avatar-title bg-secondary rounded text-light">
                      .MP4
                    </span>
                  </div>
                </div>
                <div class="col ps-0">
                  <a href="javascript:void(0);" class="text-muted fw-semibold"
                    >Admin-bug-report.mp4</a
                  >
                  <p class="mb-0 font-12">7.05 MB</p>
                </div>
                <div class="col-auto">
                  <a
                    href="javascript:void(0);"
                    class="btn btn-link font-16 text-muted"
                  >
                    <i class="ri-download-2-line"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          @for (file of files; track $index) {
            <div class="dropzone-previews mt-2" id="file-previews">
              <div
                class="card mt-1 mb-0 shadow-none border dz-processing dz-success dz-complete dz-image-preview"
              >
                <div class="p-2">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <img
                        data-dz-thumbnail=""
                        [src]="file.dataURL"
                        class="avatar-sm rounded bg-light"
                      />
                    </div>
                    <div class="col ps-0">
                      <a
                        href="javascript:void(0);"
                        class="text-muted fw-bold"
                        >{{ file.name }}</a
                      >
                      <p class="mb-0" data-dz-size="">
                        <strong>{{ file.size }}</strong> KB
                      </p>
                    </div>
                    <div class="col-auto">
                      <a
                        role="button"
                        class="btn btn-link btn-lg text-muted"
                        (click)="removeFile($index)"
                      >
                        <i class="fe-x"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
