<app-page-title title="Apexcharts" [breadCrumbItems]="breadCrumbItems" />

<div class="row">
  <div class="col-12">
    <sparkline-chart />
  </div>
  <!-- end col-->
</div>

<div class="row">
  <div class="col-xl-6">
    <line-data-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <gradient-line-chart />
  </div>
  <!-- end col-->
</div>

<div class="row">
  <div class="col-xl-6">
    <stacked-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <column-chart />
  </div>
  <!-- end col-->
</div>

<div class="row">
  <div class="col-xl-6">
    <column-datalabel-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <mixed-chart />
  </div>
  <!-- end col-->
</div>

<div class="row">
  <div class="col-xl-6">
    <bar-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <nagative-bar-chart />
  </div>
  <!-- end col-->
</div>

<div class="row">
  <div class="col-xl-6">
    <area-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <multiple-chart />
  </div>
  <!-- end col-->
</div>

<div class="row">
  <div class="col-xl-6">
    <bubble-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <bubble3d-chart />
  </div>
  <!-- end col-->
</div>

<div class="row">
  <div class="col-xl-6">
    <scatter-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <date-timescatter-chart />
  </div>
  <!-- end col-->
</div>

<div class="row">
  <div class="col-xl-6">
    <candlestick-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-6">
    <combo-candlestick-chart />
  </div>
  <!-- end col-->
</div>

<div class="row">
  <div class="col-xl-4">
    <pie-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-4">
    <donut-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-4">
    <pattern-donut-chart />
  </div>
  <!-- end col-->
</div>

<div class="row">
  <div class="col-xl-4">
    <radial-bar-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-4">
    <multiple-radial-bar-chart />
  </div>
  <!-- end col-->

  <div class="col-xl-4">
    <guage-chart />
  </div>
  <!-- end col-->
</div>
